{
    "plugins": [
      ["@babel/plugin-transform-modules-umd", {
          "exactGlobals": true,
          "globals": {
            "LoginFlow": "LoginFlow",
            "SignupFlow": "SignupFlow"
          }
      }]
    ],
    "presets": ["@babel/preset-env"]
}